NUVEMSHOP_STORE_ID=123456
NUVEMSHOP_ACCESS_TOKEN=seu_access_token
NUVEMSHOP_USER_AGENT=DannyClosetFeed (seuemail@dominio.com)

STORE_NAME=Danny Closet Boutique
STORE_URL=https://www.sualoja.com.br
DEFAULT_BRAND=Danny Closet
CURRENCY=BRL
LANGUAGE=pt-BR
PAGE_SIZE=200
